body {
    margin: 0;
}

.modalContainer {
    position: absolute;
    top: 30%;
    left: 50%;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px gray;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}